GOOGLE_API_KEY=your_google_api_key

# Pydantic Logfire
LOGFIRE_TOKEN=
LOGFIRE_SERVICE_NAME=intervai-api
LOGFIRE_ENVIRONMENT=development
LOGFIRE_SEND_TO_LOGFIRE=if-token-present

# Optional comma-separated regular expressions for routes to exclude.
LOGFIRE_EXCLUDED_URLS=
